*{
    margin: 0;
    padding: 0;
}
.topNav{
width: 100%;
height: 50px;
background-color: #ECF3FC;
padding-top: 10px;
padding-bottom: 10px;
}
.topnav{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 90px;
    padding-top: 8px;
}

.midNav{
    width: 100%;
    height: 90px;
    padding-top: 10px;
    }
    .midnav{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: auto;
        gap: 90px;
        /* padding-top: 8px; */
    }

    .Navbar{
        width: 100%;
        height: 80px;
        border:1px solid #183661;
        background-color: #183661;
        color: white;
        }
        .navbar{
            width: 95%;
            display: flex;
           justify-content: space-between;
            /* gap: 30px; */
            margin: auto;
            margin-top: 25px;
        }
.buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
   
}
.home:hover{
    color: #F2C119;
}

/* ----------------------------------------Footer CSS------------------------------------------------------- */
.Footer{
    width:100%;
    background-color: #183661;
    height: 300px;
}
.footer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    gap:40px
}



/* ====================================================Mobile Screen================================================================ */
